.parent{
	-fx-background-color: #25A390;
}
.sidebar{
	-fx-background-color: #393939;
}
.forgetLabel{
	-fx-text-fill: #black;
}
.forgetLabel:hover{
	-fx-text-fill: #ffffff;
	-fx-underline: true;
}	
.loginBtn{
	-fx-background-color: #1D7467;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 10px;
}
.loginBtn:hover{
	-fx-background-color: transparent;
	-fx-text-fill: #393939;
	-fx-border-color: #393939;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 10px;
}/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
*/
